body {
  box-sizing: border-box;
}

.container {
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  min-height: calc(100vh - 95px - 90px);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

header {
  padding: 1.5rem;
  background: rgba(0, 0, 0, 0.783);
}

.header-wrapper {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

footer {
  padding: 1rem;
}

nav {
  display: flex;
  column-gap: 2rem;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.about_nav {
  display: flex;
  column-gap: 2rem;
  list-style: none;
  padding: 0;
}

.about_nav a {
  text-decoration: none;
  color: black;
}

.about_nav a:hover {
  text-decoration: underline;
}

.posts-list {
  width: 50vw;
}

.posts-list a {
  text-decoration: none;
  color: black;
}

.posts-list a:hover {
  text-decoration: underline;
}

.post-paragraph {
  max-width: 60%;
  text-align: center;
}

.active {
  color: rgb(145, 130, 227);
  cursor: default;
}

.search-form input {
  padding: 8px;
  border: 0.5px solid rgb(145, 130, 227);
  border-radius: 2px;
  outline: none;
}

.search-form button {
  padding: 8px;
  border: 0.5px solid rgb(145, 130, 227);
  color: white;
  background: rgb(145, 130, 227);
  border-radius: 2px;
  cursor: pointer;
}