* {
  box-sizing: border-box;
}

:root {
  --color-bg: #2C2C32;
  --color-active: #0f7dc6;
}

.container {
  padding-left: 2rem;
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  min-height: calc(100vh - 95px - 90px);
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

header {
  padding: 1.5rem;
  background: rgba(0, 0, 0, 0.783);
}

.header-wrapper {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

footer {
  padding: 1rem;
}

nav {
  display: flex;
  column-gap: 2rem;
}

nav a {
  text-decoration: none;
  color: white;
}

nav a:hover {
  cursor: pointer;
  text-decoration: underline;
}

.about_nav {
  display: flex;
  column-gap: 2rem;
  list-style: none;
  padding: 0;
}

.about_nav a {
  text-decoration: none;
  color: black;
}

.about_nav a:hover {
  text-decoration: underline;
}

.posts-list {
  width: 50vw;
}

.posts-list a {
  text-decoration: none;
  color: black;
}

.posts-list a:hover {
  text-decoration: underline;
}

.post-paragraph {
  max-width: 60%;
  text-align: center;
}

.active {
  color: var(--color-active);
  cursor: default;
}

.search-form input, form input {
  padding: 8px;
  border: 0.5px solid var(--color-active);
  border-radius: 2px;
  outline: none;
}

.search-form button {
  padding: 8px;
  border: 0.5px solid var(--color-active);
  color: white;
  background: var(--color-active);
  border-radius: 2px;
  cursor: pointer;
}

form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 1rem;
}

form button, button {
  background-color: var(--color-active);
  cursor: pointer;
  color: white;
  border: none;
}

button {
  padding: 0.5rem 1rem;
}

.stack {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.login-form {
  display: grid;
  gap: 1rem;
}

input[type="text"], textarea {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  border: 0.5px solid var(--color-active);
  outline: none;
  resize: none;
}

input[type="submit"] {
  padding: 0.5rem 1rem;
  background-color: var(--color-active);
  cursor: pointer;
  color: white;
  border: none;
}

.create-post__button {
  margin: 2rem;
  text-decoration: none;
  padding: 0.5rem 1rem;
  background-color: var(--color-active);
  cursor: pointer;
  color: white;
  border: none;
}